<%= turbo_stream_from 'heading' %>
<%= turbo_frame_tag 'heading' do %>
  <%= form_tag file_upload_index_path, multipart: true do %>
    <div>
      <%= file_field_tag :csv_file, class:"btn btn-outline-danger" %>
      <%= submit_tag "upload file", class:"btn btn-outline-primary"%>
    </div>
    <br>
    
      <%= render 'headers', fileupload: @file %>
  <% end %>
<% end %>