<h1>Contacts</h1>
  

<div class="container">
  <h3> Download data from Data Base</h3>
  <%= link_to 'download', contacts_path + '.csv', class:"btn btn-outline-secondary" %>
  <br>
  <h3> Import data from your pc</h3>
    <%= form_tag import_contacts_path, multipart: true do %>
      
      <%= file_field_tag :file %>
      <%= submit_tag 'import CSV' %>
    <% end %>
</div>
<br>

<br>
<% @contacts.each do |contact| %>
<b>-------------------------------------</b>
  <p class="fs-7">
    <strong>
      Role:
    </strong>
  <%= contact.class %>
  </p>
  <p class="fs-2">
    <strong>
      Nombres:
    </strong>
    <p><%= contact.full_name %></p>
    <strong>
      Apellidos:
    </strong>
    <p><%= contact.date_of_birth %></p>
    <strong>
      Email:
    </strong>
    <p><%= contact.phone_number %></p>
    <strong>
      Cargo:
    </strong>
    <p><%= contact.address %></p>
    <strong>
      Departamento:
    </strong>
    <p><%= contact.credit_card %></p>
     <strong>
      Cargo:
    </strong>
    <p><%= contact.franchise %></p>
    <strong>
      Departamento:
    </strong>
    <p><%= contact.email %></p>
    

 <p>------   ------</p>
<% end %>
<%= link_to 'Back', new_contact_path, class:"btn btn-danger" %>
