<%= form_with do |form| %>
  <% @contacts.each do |contact| %>
    <% if contact.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(contact.errors.count, "error") %> 
            prohibited this employee from being saved:
        </h2>

        <ul>
          <% contact.errors.each do |error| %>
            <li>
              <%= error.full_message %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  <% end %>
  <h1> hi i am index create contact </h1>

  <div class="field form-label">
    <%= form_tag file_upload_index_path, multipart: true do %>
      <div>
        <%= form.file_field :csv_file %>
        <%= form.submit %>
      </div>
      <br>
     <h4>your file id:<%= @csv_file.id %>


      <h3> Match your file columns</h3>

        <div>
         <%=$csv_preview%>
         <br>
        </div>
        <div>
          <%= form.label :full_name %>
          <%= form.select :full_name, $csv_preview, 
                                  class:"form-control form-control-lg" %>
        </div>
        <div>
          <%= form.label :date_of_birth %>
          <%= form.select :date_of_birth, $csv_preview, 
                                  class:"form-control form-control-lg" %>
        </div>
        <div>
          <%= form.label :phone_number %>
          <%= form.select :phone_number, $csv_preview, 
                                  class:"form-control form-control-lg" %>
        </div>
        <div>
          <%= form.label :address %>
          <%= form.select :address, $csv_preview, 
                                  class:"form-control form-control-lg" %>
        </div>
        <div>
          <%= form.label :credit_card %>
          <%= form.select :credit_card, $csv_preview, 
                                  class:"form-control form-control-lg" %>
        </div>
        <div>
          <%= form.label :franchise %>
          <%= form.select :franchise, $csv_preview, 
                                  class:"form-control form-control-lg" %>
        </div>
        <div>
          <%= form.label :email %>
          <%= form.select :email, $csv_preview, 
                                  class:"form-control form-control-lg" %>
        </div>
        </div>

    <% end %>

  </div>
<%end%>